.heading{
    font-size: 30px;
    width: 100%;
    margin-top: 10px;
    box-shadow: 10px 10px 10px grey;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
   position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 2;
    font-size: 35px;
    text-align: center;
}
